@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 14px;
}

:root {
    --cor01: rgb(255, 255, 255);
    --cor02: rgb(243, 243, 243);
    --cor03: lightgray;
    --cor04: rgb(248, 248, 248);
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--cor02);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px auto 0;
    max-width: 935px;
    padding-bottom: 32px;
    width: 100%;
}

.insta_phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
}

.insta_phone img {
    height: 700px;
    padding: 50px 0;
}

.insta_login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 350px;
    margin-top: 12px;
}

.insta_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor01);
    width: 100%;
    margin: 0 0 10px;
    padding: 45px 35px 20px 35px;
    border: 1px solid var(--cor03);
    border-radius: 1px;
}

.insta_box2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor01);
    width: 100%;
    padding: 25px 0;
    border: 1px solid var(--cor03);
}

.insta_box:nth-child(1) {
    min-height: 19rem;
}

.insta_logo {
    height: 50px;
}

.get_the_app {
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 10px;
}

.get_app {
    font-size: 14px;
    line-height: 18px;
    margin: 10px 20px 10px 20px;
    text-align: center;
}

.user {
    margin: 40px 0 5px 0;
    padding: 10px 0 10px 5px;
    font-size: 12px;
    width: 100%;
    border: 1px solid var(--cor03);
    border-radius: 3px;
    background-color: var(--cor04);
}

.password {
    margin-bottom: 20px;
    padding: 10px 0 10px 5px;
    font-size: 12px;
    width: 100%;
    border: 1px solid var(--cor03);
    border-radius: 3px;
    background-color: var(--cor04);
}

button {
    width: 100%;
    padding: 5px 0 5px 0;
    color: var(--cor01);
    font-weight: 600;
    background-color: #b2dffc;
    border: 1px solid #b2dffc; 
    border-radius: 4px;
}

.face_link {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.face_link img {
    margin-right: 7px;
}

.face_link a {
    text-decoration: none;
    color:#385185;
    font-weight: 600;
}

.l2 {
    font-size: 12px;
    text-decoration: none;
    color: #426079;
}

.not_account a {
    text-decoration: none;
    color: #0095f6;
    font-weight: 600;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app_download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
    margin-right: 8px;
}

.app_download:nth-child(1) {
    background-image: url(img/apple-button.png);
}

.app_download:nth-child(2) {
    background-image: url(img/googleplay-button.png);
}

/* media queries */

@media (max-width: 900px) {
    body {
        background-color: #ffffff;
    }

    .insta_box {
        border: 1px solid transparent;
    }

    .insta_box2 {
        border: 1px solid transparent;
    }

    .instagram {
        width: 100%;
    }

    .insta_phone {
        display: none;
    }

    .insta_box {
        width: 100%;
    }

}